.button {
    color: #ffffff;
    padding: 10px 20px;
    width: 84px;
    height: 35px;
    display: inline;
    border: 0;
    background: url(./button_light.png) no-repeat;
    &:hover{
        cursor: hand;
        background: url(./button_dark.png) no-repeat;
    }
}
