button {
    color: #ffffff;
    margin:5px 5px;
    padding:7px 10px;
    border: 1px solid #00fff6;
    background: 
        url(./left.png) no-repeat,
        url(./middle.png) repeat,
        url(./left.png) no-repeat;


    :hover{
        background: #00FF00 url("./button_dark.png") no-repeat fixed top;
    }
}
