
@import "~normalize.css";

//$fa-font-path: "~font-awesome/fonts";
//@import "~font-awesome/scss/font-awesome.scss";
@import "~font-awesome/css/font-awesome.css";
@import "~flexboxgrid";

@import "variables";
@import "utils";
@import "mixin";
@import "layout";

html, body {
    font: $font-size $font-family;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: $container-max-width;
    width: $container-width;
    @include clearfix();
}

//.row {
//    display: flex;
//
//    .col {
//        flex: 1 0 auto;
//    }
//}