
@import "common";

/* Variables */
$left-pannel-width: 120px;


body {
    background: #082737;
}

.main {
    margin-top: 20px;
}

.main-content {
    background: rgba(3,19,27,.7);
    min-height: 500px;
    border-radius: 5px;
    padding: 15px;
}

.left-panel {
    float: left;
    width: $left-pannel-width;
}

.right-panel {
    margin-left: $left-pannel-width + 5px;
}

.bus-list {
    background: #041E2C;
    width: 100%;
    min-height: 500px;
    float: left;
}

.bus-info {
    border: 1px solid #123F47;
    height: 120px;
    border-radius: 8px;
}