
@import "common";

/* Variables */
$left-pannel-width: 120px;


body {
    background: #082737;
    /* background-size: cover; */
}

.main {
    margin-top: 20px;
}

.main-content {
    /* background: rgba(3,19,27,.7); */
    background: url("../img/bus_overview_bg.png") no-repeat 0 0;
    background-size: cover;
    min-height: 500px;
    border-radius: 5px;
    padding: 15px;
}

.left-panel {
    float: left;
    width: $left-pannel-width;
}

.right-panel {
    margin-left: $left-pannel-width + 5px;
}

.bus-list {
    background: #041E2C;
    width: 100%;
    min-height: 500px;
    float: left;
}

.bus-info {
    border: 1px solid #123F47;
    border-radius: 8px;
    background: rgba(9,27,40,.5);
}

.tab-container {
    margin: 20px 0 0;
}

.ReactTabs__TabPanel {
    background: rgba(3,3,3,.5);
    width: 100%;
    min-height: 300px;
}

.graph-container {
    //width: 400px;
    height: 250px;
}

.footer {
    position: relative;
}

.modal {
    position: absolute;
    top: 120px;
    left: 140px;
    right: 60px;

    i.close{
        margin-top: -48px;
        margin-right: -48px;
        padding: 10px;
        float: right;
        border: 2px solid #d3d3d3;
        border-radius: 50%;
    }
}

.realtime-data-container {
    overflow: auto;
}

.realtime-data {
    background: url("../img/bus_skeleton.png") no-repeat center center;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 500px;

    .motor, .cooling, .hms, .bms, .h2_bottle {
        border: 1px solid #479DC2;
        position: absolute;
        height: 120px;
        width: 100px;
        border-radius: 2px;
        left: 50%;
        top: 50%;
        overflow: hidden;
    }

    .motor {
        margin-left: -460px;
        margin-top: -50px;
        height: 95px;
    }
    .cooling {
        margin-left: -127px;
        margin-top: -215px;
        height: 95px;
    }
    .hms {
        margin-left: 70px;
        margin-top: -215px;
    }
    .bms {
        margin-left: 130px;
        margin-top: 134px;
        height: 100px;
    }
    .h2_bottle {
        margin-left: 354px;
        margin-top: -95px;
        width: 230px;
        height: 190px;
    }

    .info-box {
        margin: 10px;

        h1 {
            margin: 0 0 5px;
            padding: 0;
            font-size: 12px;
        }

        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}