
@import "common";

body {
    color: #fff;
}

.background {
    background: #04243b url("/img/login/login_bg.png") no-repeat center center fixed;
    /* background-size: cover; */
}

.header {
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
}

.login-panel {
    
    .title {
        font-size: 16px;
    }

    .seperator {
        background: url("/img/login/line.png") no-repeat 0 0;
        width: 523px;
        height: 5px;
    }

    
}