
@import "common";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#allmap {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.table {

    font-size: 12px;
    width: 100%;

    thead th {
        padding:5px 10px;
        color: #fff;
        font-weight: normal;
        border:1px solid #00B2FB;
        background-color: #1083BC;
        height:20px;
    }
        
    tbody {
        tr.normal {
            color: #00fff6;
        }
        tr.error {
            color: red;
        }
        tr.warn {
            color: orangered;
        }
        tr.dead {
            color: gray;
        }

        td {
            padding:5px 10px;
            border:1px solid #0a4861;
            background-color: #022f46;
            img {
                margin-bottom: -2px;
                pargin-right: 10px;
            }
        }
    }

}


.infoBox {
    width: 240px;
    padding: 5px 20px;
    border: 1px solid #00B2FB;
    border-radius: 15px;
    background: rgba(8,83,120,0.8);
    box-shadow: 0 0 50px rgb(8,83,120);

    img {
        display:none;
    }

    .items{
        list-style: none;
        padding: 0;
        .item-content{
            color: #00fff6;
        }
    }
}
