.info_box{
  .small_top{
    background:url("./img/infobox_up.png") no-repeat 0 0;
    height:2px;
    width: 316px;
  }
  .small_bottom{
    background: url("./img/infobox_down.png") no-repeat 0 0;
    height: 13px;
    width: 347px;
  }
  .small_left{
    background: url("./img/infobox_left.png") no-repeat 0 0;
    width: 20px;
    height: 147px;
  }
  .small_right{
    background: url("./img/infobox_right.png") no-repeat 0 0;
    width: 20px;
    height: 141px;
  }
  .big-title{

  }
  .small-title{

  }
  i{
    display: inline-block;
  }
  .box-top{

  }
}